<a href="https://colab.research.google.com/github/LIZZETHGOMEZ/Econometria_/blob/School/Codigo%20para%20profe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ECONOMETRÍA
##Trabajo Final
* ### Cuenca Fitz Alexis Manuel
* ### Gomez Rodríguez Lizzeth
* ### Pineda Sandoval Tania Jocelyn

La base de datos a utilizar es la **ESRU-EMOVI 2017** que es una Encuesta de Movilidad Social del Centro de Estudios Espinosa Yglesias (CEEY), que se puede encontrar en la siguiente liga junto con el cuestionario: https://ceey.org.mx/contenido/que-hacemos/emovi/

In [0]:
#Instalamos las paqueterías necesarias
!pip install pyreadstat
!pip install statsmodels

In [5]:
#Importamos las librerías a utilizar
import pyreadstat #librería para leer  formato.dta
import pandas as pd #librería para manipulación de datos
import matplotlib #librería para graficar
from matplotlib import pyplot as plt #librería para graficar

import statsmodels.api as sm #librería para análisis estadístico
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import logit
from statsmodels.iolib.summary2 import summary_col

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
#Leemos la base de datos
emovi = pd.read_csv('Emovi.csv')

In [0]:
emovi.head()

In [0]:
emovi.describe()

In [0]:
print(emovi.p150e)

In [0]:
#Aquí paso la variable p150e a valores numericos 0 y 1
emovi= pd.get_dummies(emovi, columns=["p150e"],drop_first = True)

In [61]:
emovi.describe()

                p05  p150e_1  p150e_2  ...  p150e_5  p150e_6      p150e_Sí
count  17665.000000    114.0     88.0  ...    128.0     37.0  17665.000000
mean      43.636569      1.0      2.0  ...      5.0      6.0      0.019757
std       12.000790      0.0      0.0  ...      0.0      0.0      0.139167
min       25.000000      1.0      2.0  ...      5.0      6.0      0.000000
25%       34.000000      1.0      2.0  ...      5.0      6.0      0.000000
50%       43.000000      1.0      2.0  ...      5.0      6.0      0.000000
75%       54.000000      1.0      2.0  ...      5.0      6.0      0.000000
max       64.000000      1.0      2.0  ...      5.0      6.0      1.000000

[8 rows x 8 columns]

#Primera Duda

In [62]:
print(emovi.p150e_Sí)
#Aquí me gustaría tabular la misma variable pero únicamente los valores iguales a 1

0        0
1        0
2        0
3        0
4        0
        ..
17660    1
17661    0
17662    0
17663    0
17664    0
Name: p150e_Sí, Length: 17665, dtype: uint8

#Segunda Duda

In [0]:
#Aquí renombro las variables
emovi.rename(columns={'p05':'edad','p06':'sexo','p13':'escolaridad','p102':'empleo','p133':'ingreso','p150e_1':'dis_trabajo','p150e_2':'dis_escuela','p150e_3':'dis_oficina','p150e_4':'dis_hogar','p150e_5':'dis_barrio','p150e_6':'dis_otro','p151':'color','r579on':'region','rurur2':'rurur','p150e_Sí':'Discriminacion'})

In [63]:
#Ahora quiero usar las variables renombradas, pero no me deja, por ejemplo:
print(emovi.edad)

AttributeError: ignored

In [64]:
#Mismo comando con nombres anteriores si jala, entonces no me las está renombrando, cómo corrijo esto?
print(emovi.p05)

0        64
1        60
2        64
3        63
4        64
         ..
17660    39
17661    44
17662    32
17663    31
17664    52
Name: p05, Length: 17665, dtype: int64