<a href="https://colab.research.google.com/github/LIZZETHGOMEZ/Econometria_/blob/School/Trabajo%20Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ECONOMETRÍA
##Trabajo Final
* ### Cuenca Fitz Alexis Manuel
* ### Gomez Rodríguez Lizzeth
* ### Pineda Sandoval Tania Jocelyn

La base de datos a utilizar es la **ESRU-EMOVI 2017** que es una Encuesta de Movilidad Social del Centro de Estudios Espinosa Yglesias (CEEY), que se puede encontrar en la siguiente liga junto con el cuestionario: https://ceey.org.mx/contenido/que-hacemos/emovi/

In [1]:
#Instalamos las paqueterías necesarias
!pip install pyreadstat
!pip install statsmodels

Collecting pyreadstat
  Downloading https://files.pythonhosted.org/packages/7d/01/40eac7c6a31953741493d1f7d56f448a1bacb88be6e348775fbb06900125/pyreadstat-0.3.4-cp36-cp36m-manylinux1_x86_64.whl (2.0MB)
     |████████████████████████████████| 2.0MB 2.4MB/s
Requirement already satisfied: pandas>0.24.0 in /usr/local/lib/python3.6/dist-packages (from pyreadstat) (1.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>0.24.0->pyreadstat) (1.12.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-0.3.4
Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (0.10.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from statsmodels) (1.18.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.6/dist-packages (from statsmodels) (1.4.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from statsmodels) (1.0.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.0->statsmodels) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->statsmodels) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->statsmodels) (2.8.1)

In [2]:
#Importamos las librerías a utilizar
import pyreadstat #librería para leer  formato.dta
import pandas as pd #librería para manipulación de datos
import matplotlib #librería para graficar
from matplotlib import pyplot as plt #librería para graficar

import statsmodels.api as sm #librería para análisis estadístico
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import logit
from statsmodels.iolib.summary2 import summary_col

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
#Leemos la base de datos
emovi = pd.read_csv('Emovi1.csv')

In [63]:
emovi.head()

   p05       p06  ...  rururb p150e_SÃ­
0   64   2 Mujer  ...  Urbano         0
1   60  1 Hombre  ...  Urbano         0
2   64  1 Hombre  ...  Urbano         0
3   63   2 Mujer  ...  Urbano         0
4   64   2 Mujer  ...  Urbano         0

[5 rows x 15 columns]

In [62]:
emovi.describe()

                p05  p150e_1  p150e_2  ...  p150e_5  p150e_6     p150e_SÃ­
count  17665.000000    114.0     88.0  ...    128.0     37.0  17665.000000
mean      43.636569      1.0      2.0  ...      5.0      6.0      0.019757
std       12.000790      0.0      0.0  ...      0.0      0.0      0.139167
min       25.000000      1.0      2.0  ...      5.0      6.0      0.000000
25%       34.000000      1.0      2.0  ...      5.0      6.0      0.000000
50%       43.000000      1.0      2.0  ...      5.0      6.0      0.000000
75%       54.000000      1.0      2.0  ...      5.0      6.0      0.000000
max       64.000000      1.0      2.0  ...      5.0      6.0      1.000000

[8 rows x 8 columns]

In [70]:
print(emovi.p150e_SÃ)

AttributeError: ignored

In [0]:
emovi= pd.get_dummies(emovi, columns=["p150e"],drop_first = True)

In [71]:
emovi.descrive

AttributeError: ignored

In [72]:
emovi.p150e

AttributeError: ignored